:root {
    --page-background-color: #141922;
    --page-text-color: white;
    --page-font: "Ubuntu", serif;
    --header-background-color: black;
    --nav-background-color: black;
    --footer-background-color: black;
}

* {
    background-color: var(--page-background-color);
    color: var(--page-text-color);
    font-family: var(--page-font);
}

body {
    margin: 0;
}

header {
    position: sticky;
    width: 100vw;
    height: 7vh;
    top: 0;
    background-color: var(--header-background-color);
}

nav {
    display: flex;
    align-items: center;
    height: 7vh;
    position: absolute;
    background-color: var(--nav-background-color);

}

nav > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s;
}

nav > a:hover {
    background-color: red;
}

main {
    width: 100vw;
    height: auto;
}

.profile-container {
    display: flex;
    flex-direction: row;
}

.profile-text {
    display: flex;
    flex-direction: column
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    background-color: var(--footer-background-color)
}

footer > p {
    position: absolute;
}